body{
  -webkit-font-smoothing: antialiased;
}

.content-wrap{
  display: flex;
  flex-direction: column;
  height:100vh;
}
@media (min-width:760px) {
  .content-wrap{
  flex-direction: row;
  }
}
.content-hear{
  height:80px;
  background-color: #00BCD4;
  color: #fff;
  flex-shrink: 0;
  display: flex;
  justify-content:space-between;
  padding: 0 20px;
  align-items: center;

}
.content-footer{
  height:80px;
  background-color: #00BCD4;
  flex-shrink: 0;
  display: flex;
  justify-content:space-around;;
  align-items: center;
  color:#fff;

}
.content-footer a{
  color:#fff;
  align-items: center;
  text-align: center;
  font-size: 18px;
  flex-grow: 1;
  border-left: 1px solid teal;
}
.content-footer a:hover,a:focus{
  text-decoration: none;
}

.header-but{
  background-color: teal;
  background-color: rgba(0, 0, 0, 0.2);;
  color:#fff;
  padding: 4px 8px;
  border-radius: 8px;
}
.content-hear h3{
  margin:0;
  font-weight: bold;

}
.glyphicon{
  font-size: 22px;

}
.left-nav{
  display: flex;
  flex-direction: column;
  width:240px;
  background-color: #00BCD4 ;
  color:#fff;
  align-items: center;
  padding-top: 50px;
}
.left-nav a{
  color:#fff;
  margin-top: 20px;
  padding: 10px 90px;

}
.left-nav a:hover{
  background-color: rgba(117, 237, 165, 0.2);;
  text-decoration: none;
}
.left-nav a:focus{
  background-color: rgba(255, 255, 255, 0.2);;
}
.content-main{
  flex-grow: 1;
  overflow-y: scroll;
  display: flex;
}
.home-container{
  background-image: url(./images/1.jpg);
  -webkit-background-size: cover;
  background-size: cover;
  background-position: 50% 50%;
  width: 100%;
  display: flex;
}
.home-cover{
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  align-items: center;
}
.home-item{
  color:#fff;
  text-align: center;
  margin: 0 auto;
  font-weight: bold;
}
.home-btn{
  border: none;
  border-radius: 2px;
  background-color: #ff4081;
  padding:8px 20px;
  font-size: 16px;
}
.home-btn:hover{
  background-color: #00bcd4;
}
.work-content{
  width: 100%;
  display: flex;
  padding: 10px 20px;
  flex-wrap: wrap;
  /*justify-content:space-between;*/

}
.work-wrap{
    position: relative;
    width: 100%;

    margin: 10px auto;
    box-shadow: rgba(0, 0, 0, 0.117647) 0px 1px 6px, rgba(0, 0, 0, 0.117647) 0px 1px 4px;
    border-radius: 5px;

    cursor: pointer;
    flex-grow: 0;

}
@media (min-width:540px) {
   .work-wrap{
     width:31%;
   }
 }
.work-wrap img{

  width: 100%;

  display: block;
  flex-grow: 1;
}
.work-little{
  position: absolute;
  bottom:0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  color:#fff;
  padding-left: 10px;
  border-radius: 0px 0px 5px 5px;;
  left:0;
}
.about-content h3{
  border-left: 5px solid #00bcd4;
  margin-left: 10px;

}
